*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

header
{
    position: sticky;
    top: 0;
    z-index: 1000;
}

menu
{
    position: relative;
    background-color: rgb(239, 235, 218);
}

menu>.block_menu>a>.btn_header
{
    background-color: rgba(128, 128, 128, 0.306);
    padding: 10px 20px;

}
.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #a9a9a9;
}

menu>img
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    display: inline-block;
}

menu>.block_menu>a>div
{
    display: inline-block;
    margin: 10px;
    color: black;
}

menu>.block_menu
{
    display: flex;
    justify-content: end;
}


.background
{
    background-image: url(../img/background.png);
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;

}

.background>h2
{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-weight: normal;
    font-size: 36pt;
}

.tovar_title
{
    background-color: rgba(128, 128, 128, 0.306);
    padding: 30px 50px;
    text-align: center;
}

.tovar_title>h2
{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 30pt;
}




.shop
{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card
{
    width: 300px;
    height: 500px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
    position: relative;
}


.card .img
{
    width: 100%;
    height: 300px;
    background-image: url(../img/NikeDF.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.card .img1
{
    background-image: url(../img/card1.png);
}

.card .img2
{
    background-image: url(../img/card2.png);
}

.card .img3
{
    background-image: url(../img/card3.png);
}

.card .img4
{
    background-image: url(../img/card4.png);
}

.card .img5
{
    background-image: url(../img/card5.png);
}

.card .img6 {
    background-image: url(../img/card6.png);
}

.card .img7 {
    background-image: url(../img/card7.png);
}

.card .img8 {
    background-image: url(../img/card8.png);
}

.card .img9 {
    background-image: url(../img/card9.png);
}

.card .img10 {
    background-image: url(../img/card10.png);
}

.card .img11 {
    background-image: url(../img/card11.png);
}

.card .img12 {
    background-image: url(../img/card12.png);
}

.card .img13 {
    background-image: url(../img/card13.png);
}

.card .img14 {
    background-image: url(../img/card14.png);
}

.card .img15 {
    background-image: url(../img/card15.png);
}

.card .img16 {
    background-image: url(../img/card16.png);
}

.card .img17 {
    background-image: url(../img/card17.png);
}

.card .img18 {
    background-image: url(../img/card18.png);
}

.card .img19 {
    background-image: url(../img/card19.png);
}

.card .img20 {
    background-image: url(../img/card20.png);
}

.card .img21 {
    background-image: url(../img/card21.png);
}

.card .img22 {
    background-image: url(../img/card22.png);
}

.card .img23 {
    background-image: url(../img/card23.png);
}

.card .img24 {
    background-image: url(../img/card24.png);
}

.card .img25 {
    background-image: url(../img/card25.png);
}

.card .img26 {
    background-image: url(../img/card26.png);
}

.card .img27 {
    background-image: url(../img/card27.png);
}

.card .img28 {
    background-image: url(../img/card28.png);
}

.card .img29 {
    background-image: url(../img/card29.png);
}

.card .img30 {
    background-image: url(../img/card30.png);
}

.card .img31 {
    background-image: url(../img/card31.png);
}

.card .img32 {
    background-image: url(../img/card32.png);
}

.card .img33 {
    background-image: url(../img/card33.png);
}

.card .img34 {
    background-image: url(../img/card34.png);
}

.card .img35 {
    background-image: url(../img/card35.png);
}

.card .img36 {
    background-image: url(../img/card36.png);
}

.card .img37 {
    background-image: url(../img/card37.png);
}


.card p
{
    padding: 10px 0;
    font-size: 16pt;
    color: rgb(71, 71, 71);
}


.card>.stars
{
    color: grey;
}


.card>.stars>i:nth-child(-n+4)
{
    color: orange;
}


.card>.stars span
{
    color: rgb(0, 22, 217);
}

.old-price
{
    font-size: 13pt;
    color: rgb(93, 93, 93);
    text-decoration: line-through;
    padding: 10px 0;
}


.card>.new-price
{
    font-size: 20pt;
    color: rgb(176, 45, 45);
    font-weight: bold;
}

.card>.price
{
    margin-top: 15px;
    font-size: 20pt;
    color: rgb(93, 93, 93);
    font-weight: bold;
}

.fa-heart
{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20pt;
    color:rgb(176, 45, 45);
}


.fa-scale-unbalanced-flip
{
    position: absolute;
    top: calc(10px + 20pt + 10px);
    right: 10px;
    color:rgb(93, 93, 93);
    font-size: 20pt;
}

.fa-cart-shopping
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 28pt;
    color: green;
}




footer
{
    background-color: rgb(59, 59, 59);
    padding: 20px 20px;
    text-align: center;
}

footer>p
{
    color: white;
    font-size: 24pt;
    margin: auto;
    font-style: italic;
}


