*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    /*background-color: #01e37f;*/
    background-color: rgb(182, 182, 182);
}

.main-section
{
    margin: auto;
    background-color: white;
    width: 70%;
    position: relative;
}

.sec-with-apple
{
    background-color: rgb(237, 224, 163);
    width: 47%;
    border-radius: 20px;
    box-shadow: 0 0 50px rgb(188, 188, 188);
    position: absolute;
    top: 30px;
    left: -27px;
}

.white-back
{
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    text-align: center;
}

.fa-share-nodes
{
    color: white;
    font-size: 20pt;
    position: absolute;
    top: 15px;
    left: 15px;
}

.fa-heart
{
    color: white;
    font-size: 20pt;
    position: absolute;
    top: 15px;
    right: 15px;
}

.big-apple
{
    position: relative;
    margin-left: calc();
    left: calc(50% - 28vw + 50%);
    margin-top: 3%;
    margin-bottom: 3%;
    max-height: 75%;
    max-width: 75%;
}

.else-sec
{
    margin-left: 50%;
    margin-top: 3%;
}

li
{
    margin-left: -15px;
}

.else-sec>.grey
{
    color: grey;
    margin-top: 0;
    margin-bottom: 15px;
}

.else-sec>.big-red
{
    color: #ff3f40;
    font-size: 36pt;
}

.else-sec>.small-imgs>img
{
    margin: 10px;
}
/*
.small-imgs>.color-apples-border:first-child
{
    border-radius: 10px;
    border: solid rgb(169, 169, 169);
}*/

.color-apples-border.highlighted
{
    border-radius: 10px;
    border: solid rgb(169, 169, 169);
}

.else-sec>.btn
{
    text-align: center;
    background-color: #ff3f40;
    color: white;
    font-size: 14pt;
    padding: 15px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 10px grey;
}

.margin-sec
{
    height: 20px;
}

.small-imgs>div
{
    display: inline-block;
    font-size: 26pt;
    padding: 10px 10px;
    margin: 10px;
}   

.btnhome
{
    text-align: center;
    background-color: #ff3f40;
    color: white;
    font-size: 14pt;
    padding: 15px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    
    margin-top: 3%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

a
{
    text-decoration: none;
    text-align: center;
}







